.profile__vector-pen {
  background-image: url(../../../images/pen.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 598px) {
  .profile__vector-pen {
    width: 8px;
    height: 8px;
  }
}
